![](https://www.python.org/static/community_logos/python-logo-generic.svg)

# Cours et exercices d'algorithmique - feuille 2

## Python et les variables, mieux qu'une calculatrice.

Dans cette feuille de cours et exercices, on apprend à utiliser des variables, mais aussi on découvre les premières listes.

### 1) Les noms de variables
On ne peut pas choisir n’importe quel nom pour une variable.
De manière synthétique, on a :
- **Conseil :** N’utiliser que les caractères : `a→z`, `A→Z` , `0→9` et `_`
- **Obligatoire :** Ne pas débuter par un chiffre
- **Conseil :** <kbd>choisir_un_nom_de_variable_lisible</kbd>, <kbd>nepaschoisirunnomdevariableillisible</kbd>, <kbd>choisirUnNomDeVariablePlusLisible</kbd>
- *Exemples :* <kbd>nombre_dOr</kbd>, <kbd>a15</kbd> sont valides et lisibles
- *Attention :* <kbd>niter</kbd>, <kbd>nIter</kbd>, <kbd>NITER</kbd> sont trois variables différentes, la seconde étant la plus lisible des trois
- *remarque :* les lettres Unicode sont autorisées comme <kbd>Çå_Ãĺòŕš</kbd>, mais non conseillées

> Il y a **33 mots réservés** qui ne peuvent pas être utilisés pour des variables.

> |           |           |           |           |         |
> |:----------|:----------|:----------|:----------|:--------|
> |`False`    |`class`    |`finally`  |`is`       |`return` |
> |`None`     |`continue` |`for`      |`lambda`   |`try`    |
> |`True`     |`def`      |`from`     |`nonlocal` |`while`  |
> |`and`      |`del`      |`global`   |`not`      |`with`   |
> |`as`       |`elif`     |`if`       |`or`       |`yield`  |
> |`assert`   |`else`     |`import`   |`pass`     |         |
> |`break`    |`except`   |`in`       |`raise`    |         |

> *Remarque* : Seuls `False`, `None` et `True` commencent ici avec une majuscule.

---

> **Exercice.** Dans les trois scripts suivants, il y a des erreurs, corriger les.

In [ ]:
bronze = trois
argent = two
or = 1
ma place = 4

In [ ]:
2ame = 10
roi = 10
as = 11

In [ ]:
π/2 = 3,14/2

In [ ]:
# Solutions : lancer le script suivant
print("                                                                                                          \n'trois' n'existe pas.\n'two', en anglais, non plus.\n'or' est un mot réservé.\n'ma place' ne doit pas contenir d'espace.")

---

**Exemple.** Cet exemple très méchant montre le danger d'utiliser certains caractères.

In [6]:
value = 42
valuе = 1000
print(value)

42

**Explication** :
- le premier `value` est écrit avec des caractères directement accessible au clavier, la dernière lettre est un 'e' latin dont le code est 101.
- le second `valuе` se termine par un 'е' cyrilique dont le code est 1077. Visuellement identique, ce n'est pas le même caractère, et donc il y a deux variables différentes. Le piège est redoutable.
- ce n'était pas une réaffectation et le 'print' agit sur la première variable...

*Further reading : [WTFPython](https://github.com/satwikkansal/wtfpython)*

## 2) Premières listes
#### Définition
Pour définir une liste en Python, on place des éléments entre crochets.  
On peut faire des listes vides, ou composées d'éléments de même types ou non.

In [17]:
ma_liste0 = []  # une liste vide
ma_liste1 = [26, 7, 84, 30] # une liste de 4 entiers
ma_liste2 = ["du texte", "encore des mots", "fini"]  # une liste de trois chaînes de caractères
ma_liste3 = [0, "un", 2.0, (ma_liste0, ma_liste1, ma_liste2)] # 4 éléments de type variés
ma_liste4 = [ma_liste3] # 1 seul élément, qui est une liste

#### Opérations
- On peut concatener deux listes, avec <kbd>+</kbd>, attention, ce n'est pas commutatif
- On peut démultiplier une liste, avec <kbd>*</kbd>, c'est bien commutatif

In [21]:
premiers_cas = [2, 15, 6]
seconds_cas = [101, 1106]
print(premiers_cas + seconds_cas)
print(seconds_cas + premiers_cas)

[2, 15, 6, 101, 1106]
[101, 1106, 2, 15, 6]

In [20]:
petite_liste = [4, 8, 13]
print(petite_liste * 5)

[4, 8, 13, 4, 8, 13, 4, 8, 13, 4, 8, 13, 4, 8, 13]

#### Utilisation classique : l'itération
On peut répéter les mêmes instructions sur chacun des éléments d'une liste.   
On itère sur les éléments d'une liste avec une boucle <kbd>for</kbd>.

In [25]:
for x in [5, 11, 17]:
    print(100*x + 3)

503
1103
1703

On peut aussi créer une liste par itération d'une autre, ce qui permet de construire un tableau de valeur pour une fonction.   
Par exemple, avec la fonction $x \mapsto 100x + 1$, sur les valeurs $[12, 23, 37, 75]$.

In [26]:
x_liste = [12, 23, 37, 75]
y_liste = [100*x + 1   for x in x_liste]
print(y_liste)

[1201, 2301, 3701, 7501]